os:
  - linux

language: android
licenses:
  - 'android-sdk-preview-license-.+'
  - 'android-sdk-license-.+'
  - 'google-gdk-license-.+'
android:
  components:
    - tools
    - platform-tools
    - build-tools-27.0.3
    - build-tools-28.0.2
    - android-27
    - android-28
    - sys-img-armeabi-v7a-google_apis-28
    - extra-android-m2repository
    - extra-google-m2repository
    - extra-google-android-support
jdk: oraclejdk8

sudo: false

addons:
  apt:
    # Flutter depends on /usr/lib/x86_64-linux-gnu/libstdc++.so.6 version GLIBCXX_3.4.18
    sources:
      - ubuntu-toolchain-r-test # if we don't specify this, the libstdc++6 we get is the wrong version
    packages:
      - libstdc++6
      - fonts-droid

before_install:
  - openssl aes-256-cbc -K $encrypted_c7a4618bb56c_key -iv $encrypted_c7a4618bb56c_iv -in secrets.tar.enc -out secrets.tar -d
  - tar xvf secrets.tar

before_script:
  - git clone https://github.com/flutter/flutter.git -b beta
  - ./flutter/bin/flutter doctor

script:
  - ./flutter/bin/flutter test
  - ./flutter/bin/flutter build apk

deploy:
  provider: gcs
  bucket: $BUCKET
  upload-dir: releases
  access_key_id:
    secure: r/C3yfbltQLrV7LprhxKet0G32JiWrPmGHnc/iNserjG57TJNBYC4tH0smNLb6cAPvEICbnIG2Hd7QttVAIrvWMrvqmuCQitvIVAtV0o5DjiqiLBjzz7HrhRHwSihwoPR+bZ+KFiHtZrEkBqOcsw/HtwyqeAHor+v3ivqacJhwcu2r3abaFY7RH+PGuXthLdCdnPQuedogyY9dSK62zqTmX/zuyWC+Y3umCr6K6sy/SAzpdNOdPW20v7DVdAqBr0yDePznDXW0ZKDO4TQKwPbbSJ1R5YL5SI6z+k7q3Z4FcUbn0IFCfJXJckiA0diULz86mAzV0UQ4adNX3m+G6v/xRJ3o2xJ3D3ufThK9Ts6ijIHpGiheRxUBOvkmca3g2wm0YbhExNWn+uzPdBeA3+rDYQK+zBR/M/Tq2zvUxSbCVQyup0fl94jVUxC40ZMT1dxuWJiuHeMDZwATG8nCRrDySq8f2Qd/FFpdfkNkwWCzNvV6Ld/fVowyQEcKbYxrQ+rqdbGbGqzfGdHsjj82G8WKyXRArapEUlvaQCIHXHOEQ4SkHBXqdXTB9CtpH6WJrZzcKiXXKEoHcWkB3fsL7Tx0a9tMPgVK02OfFZo1rTil7Vl46GPDIJKBjD8v8Rnsz/fKKxnWoNv6fVe1yUiIbsOvreb0topKrPNEPiNAWeji8=
  secret_access_key:
    secure: TjfPCdBv6SY/ljAMOKH8UJY8rQf9zDomDdPV0K96FVWbwm0X9oOeGC6Q3S3gI4QCzbeE/wnQa86oE6QMLDcVpMsq9iaXAKGvuQXbcxENFhAdGXmIAX4UhEk2uz/5R901iwY85t5MbrNuhZ4Swt0i80sHtTkueL03/wXpEWWFTzO0TJ6VN/Tzn8mm2EgPZlCOzGSTWeQ9ZPWovb88H8lWBmChw1cT5Zo6GPrbMO2uDpg1UwRQdMpp23NfIfJnKDeI8FhjNS0+6ODNLT+adNwqytwP4C0q1AaEubg3fZcAtk/2scofP7vOh7U1Hc4PSor7e+M6eyFOe4v4SCz6+sXwYSq8+0lfRPD5/uc7nNbc0gTXbwMb1RGkY+TqUPIYiXU/paAd/J2eEGXFXaMOwSt9RzO2In2Oa5yyChTaoj7g1Za6vAbX9EFH0R2D+p4PAfWDaoUQUKLUCVZ2kvaSoca7b7QsL4HNpTFuWvaRPYrQllHNGHz/vwMLn/jzMzglBbXCKcvhe3XIVbg/iSHs9peg/CgrJHf2zDCZSkwvhyg8fVL5/c89cyNKUq/6OcVj/cyFQYTXe4/HCGlLcdutpPt8L5CovlJDrGS3FNVhtjETixZwFrcph9GQloFcHHxE1SVCHvYDYErdYKiiXOtU/O2r2FjIj9fq23bKeKwtgQ+V1Bg=
  skip_cleanup: true
  local-dir: ./build/app/outputs/apk/release
  on:
    all_branches: true

cache:
  directories:
    - $HOME/.pub-cache

env:
  global:
    # ANDROID_KEY_ALIAS
    - secure: "TQllWJ6ITrg9ueW0jQUdKN55uChkkDBPdQq51oi+QizlLl6sc5gchF+oyNdhDU83WnFZyEp04o8m2V9AM/7iioNLINRXu6WjjQkK0aV9jPXgFZySAXHSwkR9PZ6lvKmq1ORRLkKD3g8bH4VkIuB2q3b87f23f6fadiGl0lGq92fSkvgSoh2wX2+hHCrvW/93QCCPTygSnJJ+JyQSorSrdi7eDWXCkzItytiF4aTGgqnIyvLnMFxLk+ZJnhKqUf5kfQ6zU3gACQrucS8UMQr3oliG6lkBdKcLf3S96BJlkqqOVWLhi+rIdgW93YO/LK1SF2VXNUVkCFcoODW5eB37ZgA0b509aYTwbeAQXTiXWEb3ehutNeVs5wledfpUD4FmNt57yYYMBCfe/vZYU0AYvcjkwXkOwwx3zzzB/FSX6aXhm9Cn6malYmJEl7WO/bfTdh25zBIkoUMWr1pw4nYGN54n+qxlgH0xe6J+cleuDlc56jaRyldExmV1MQ5ZjWNfGngIaLqD+kzDIc8jwcshTBioNmYMVXrFQAdJQrd5dU1OG3lPZFYkTG9yHvHfwbZXPEqEGKmM1fsKm0MyohVl6hQF9mWkoqcU9vIPTinw/YBZUCWARWut7FcrgWrg19F0yCrkQShNaId73tB1kDqBB0SAi46jfm4GvxgJuvNCR+Y="
    # ANDROID_KEY_PASSWORD
    - secure: "YkF/m8WZ6h1L2V5U+AvUeEo7FwvnM/8ScdHcYO9ipGuwWExp6W2JZe+kP9pDq+NMrF1eFDymnpUT6nPNI20IK/T79jopY78P2hFtk6LEIQxILN9apHYTGH7F7mTrQ2VHWCGPWWtfeVMqeouoSSWEqg/oCDESyZZ+SMvzDMNEs5PQ+fpIiB/KAyO5qKLVrmbpDhdXeMHKOX3ZzpP1+l3v+/wpn9lZH9Ze/B2MK9KoppmbztrqLSaG3vHMvKJ5UMctWomU82PL/T7ZbfvXbEH7p2x9hg3BDdoaoFZ0ptLJIn+Fdel5fgYpMbu4/RTOMndL3MYuky6Gwcj8uQhXBrTyILlMUpTvwPGfB2JlSAetTV7yY+xI8kfxYS6d7Rso+iqUBmNmeVTPgeZ6ttM1vMsG5yV8oMtto+K+FyDDSL61bmw3WjHl53LxEM46vHn9Z0ECoX9DpYk7ZTZQBYOFoaydeuXVOahs93YUSMMZSw1uSAce8WfoWHf7RCNzxra/Ju490Ebq3zt5h9CSVxEaV7FLpHcdnN914DyzuDgq5eF26t0yYg+DZChisZilotold93YhOpH+o9ZpXXQ+8pXwnXos5oAu/+eOe62bfdsJ55S0+MCvd50Yie5ZGBPtRP61qSVEQ/elxwC0ZbsT4n1J8TfDT1PGCa6l2PgzI1cDZQyClk="
    # BUCKET
    - secure: "A/77eHQDqOPPZ2TfEZuC+8ZlPOp0wJhHhQRgUBj/dG6XWHtqyw3ZrJKYwfvGSAyvKH5IllJELvgJqKsOTmLt6yAVW2mmz3AiRtsGQTMCzHVzSYbKtYhq6Ji1UU6/Pl0nr3t7MiEpg2nboRE3hzqm2+vQezDeVWPrfR58CSfk11iMy9Jr/m0LDzhP9s5ZdOUYjtxBUNK8cfX68JkBncLlXHQO6IZhdCtxxMDguD0zZnP8Ng+ibpB2jirXzGFk6y6o5XKfHtPi2RBq+baPM7erDk58u8wJ+fhXXCfC9Oxyo+kwl0aAmIIC4xGYHThdZrgUWq18dCrVy4Y3VOmt5vH4EZhil0u+LM1ihvkM/vg5DXd9whZk+7fm7eVTzpTSZJ7mDnh1i8kg8lpJeGX+ZFiMFmo2Sxl/3+y2dZ1Ydy7fiFGjM5MHVjxEuI05fkDGY4OaZWU/t4bkHV+V5zVQ/s84PtVC8XllP+4y38Z61cZNSIrtZhBTg0s21reF+RfyoFkJjVwkrAz2AIIfcVLesMpXVgcO43H5VgAUSOtEYSLH9wVjz7ocUAGNzQR2vPE/rfM2v+O+v/DN9armc610pZgC4gvTB0duw7jdABAdm4Rgk7oc8RvhwTqFPmQeksVbKclnxRgf3I6i2nVCFAgT4eSFPuwuk4vLT6kXdyGDNiKaDJY="
